body{
    background-color: #F4F5F6;
    
}

.header {
    
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

 .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
} 

.nav-links li {
    margin-right: 20px;
    margin-top: 2.5rem;
}


.nav-links a {
    text-decoration: none;
     color: #3c3e41;
    padding: 5px 10px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 15.2px;
} 


.logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -5px;
    margin-top: -5.5rem !important;
    position: relative;
    padding-left: 9%;
    padding-right: 9%;
}

.logo::before {
    content: "";
    display: block;
    padding-top: 100%; /* This creates a square placeholder */
}

.logo img {
    position: absolute;
    top: 0;
    width: 80%; /* Adjust the logo's width accordingly */
    height: auto;
   
}




/*about-me*/

.about-me {
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontally center items */
    gap: 20px; /* Add spacing between items */
    margin-top: 6%;
    margin-right: 7%;
}

.text {
    max-width: 50%; /* Limit text width for responsive design */
}

.profile-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}
 .text p{
    width: 85%;
    font-size: 20px;
    color: #3c3e41;
    padding-left: 7%;
 }

 

  /*feature*/

 .feature h2{
    color: #FF014F;
    opacity: 0.65;
    font-size: 17px;
 } 
 .feature {
    padding-left: 10%;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.feature h1{
    color: #3c3e41;
    font-size: 35px;
}


  /*item*/

  .item i {
    font-size: 35px;
    color:  #FF014F;
    opacity: 0.65;
    margin-right: 90%; 
}



 /*what i do */

 .what-ido .container {
    display: flex;
    justify-content: center;
    margin-right: 3%;
   
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 

}

.item {
    border: 1px solid #ccc; 
    padding: 20px; 
    text-align: center; 
    transition: transform 0.2s, background-color 0.2s; 
    width: 300px; 
    height: 190px;
    border-radius: 10px;
    background-color: lightgray;
}

.item p{
    font-size: 20px;
    text-align: left;
    color: #3c3e41;
}
.item h1{
    font-size: 22px;
    text-align: left;
    color: #3c3e41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}


/* Add hover effect */
.item:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    cursor: pointer; 
    background-color: lightgray; 
}


/*visit*/

 .visit{
    text-align: center;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }
 .visit h3{
    color: #FF014F;
    opacity: 0.65;
    font-size: 16px;
 }
   

   /* Style the filter buttons */
.filter-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.filter-buttons button {
    background-color: lightgray;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 7px;
}

.filter-buttons button:hover {
    background-color: white;
}

/*button for todolist*/

.view-button {
    background-color: #FF014F;
    color: white;
    padding: 10px 0; /* Maintain top and bottom padding, remove horizontal padding */
    text-decoration: none;
    border-radius: 5px;
    width: 230px;
    margin: 0 auto; /* Center horizontally using margin */
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.70;
}

.view-button:hover {
    background-color: black;
}


/*my portfolio */

.myporofolio .Portfolio {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    text-align: center;
}

.image-container {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;

}

.porto img {
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    cursor: pointer; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

 .porto  img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
 }

.porto p{
    padding-right: 50%;
    color: #FF014F;
    font-family: verdana;
    font-size: 15px;
    opacity: 0.70;
}
.porto h4{
    text-align: left;
    font-family: verdana;
    padding-left: 14%;
    color: #3c3e41;
    font-size: 15px;
}


/*Resume */

 .resume-section{
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
    margin-left: 50px;
    background-color: lightgray;
    border-radius: 10px;
 }

 .resume-item {
    padding: 20px;
    margin-right: 5px;
    flex-grow: 1;
    width: 10%;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}
.resume-item:hover {
    background-color:  #FF014F;
    transform:scale(1.0);
}

h2 {
    font-size: 17px;
    margin-bottom: 10px;
    color:  #3c3e41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*experience */

.experience {
    display: flex;
    justify-content: space-between; 
    color:  #3c3e41;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.experience-item, .company {
    width: 33%; 
    padding: 20px;
    box-sizing: border-box;
    margin-right: 30px;
    margin-left: 30px;
}
.experience-item p{
 width: 100%;
 font-size: 15px;
}
.experience-item h4{
    font-size: 15px;
}
.experience-item h1{
    font-size: 25px;
}

/*CONTACT PAGE*/


/* Style the container for the contact information and form */
.contact-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  /* Style the left column containing the contact information */
  .contact-info {
    flex: 1;
    padding: 20px;
    background-color: white;
    height: 500px;
  
  }
  .contact-info p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }
  
  .contact-info img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Style the right column containing the form */
  .contact-form .col-2 {
    flex: 1;
    padding: 20px;
  }

   
  .contact-form .col-2 textarea{
    width: 100%;
    height: 100px;
  
  }

  .contact-form .col-2 button {
    width: 100%;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    color: #f9004d;
  
  }
  
  .contact-form .col-2 label,
  .contact-form .col-2 input
      {
    width: 100%;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;

  
  }

  .input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
  














 /*responsiveness */

 /* Media query for responsive design */

   /* header */

@media screen and (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
        height: 16%;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
     
    .body{
        margin: 0;
    }


    .header {
        padding: 0.5rem;
        justify-content: space-between;
        align-items: center;
     
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-top: -3rem;
    }
}


/* Media query for responsive design */

 /*about me */
  
@media screen and (max-width: 768px) {
    .about-me {
        flex-direction: column;
        text-align: center; 
    }

    .text {
        max-width: 55%; 
    }
     .text p{
       margin: auto;
       padding-left: 15%;
       text-align: left;
     }

    .profile-image {
        width: 250px; 
        height: 250px;
        margin-bottom: 20px; 
    }
    
    .text h1 {
        padding-left: 15% !important;
        text-align: left;
    }
    
    .text h2 {
        text-align: left;
        padding-left: 15% !important;
    }

     .a {
      padding-right: 5%;
    }
}
    


  /*what i do */

  @media screen and (max-width: 768px) {
    .feature {
        padding-left: 25%; 
    }

    .grid-container {
        grid-template-columns: 1fr; 
    }

    .item {
       
        text-align: center; 
    }

    .item i {
       font-weight: 1px;
    }
}

   /*my portfolio */
    
     /* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: 1fr; 
    }

    .porto {
        margin-right: 0; 
        margin-bottom: 20px; 
        text-align: center; 
    }

    .porto p {
        padding-right: 35% !important;
        padding: 10px; 
    }
   
     .visit h3{
        width: 50%;
        padding-left: 23%;
       
     }



    .porto h4 {
       padding-left: 26%;
       width: 50%;
    }
}

 /*filter button */

   /* Media query for responsiveness of filter buttons */
@media screen and (max-width: 768px) {
    .filter-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .filter-buttons button {
        width: 100px;
        height: 50px;
        margin: 5px 0;
    }
}

  /*experience */

    /* Media query for responsiveness of experience section */
@media screen and (max-width: 768px) {
    .experience {
        flex-direction: column; 
        align-items: center; 
    }


    .experience-item p{
        width: 50%;
    }

    .experience-item {
        width: 80%; 
        margin-right: 0; 
        margin-left: 0; 
        margin-top: 20px; 
    }
}

/*contact form */

@media screen and (max-width: 768px) {
    .contact-form {
        flex-direction: column; 
        align-items: center;
    }

    .contact-info {
        height: auto; 
        margin-bottom: 20px; 
    }

    .contact-form .col-2 {
        width: 70%; 
        padding: 0; 
    }
}












  





